doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    nav(class="navbar navbar-inverse")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          a(class="navbar-brand" href="/") The Next LOL

        div(id="navbar" class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href="/champions")  Home
            li
              a(href="/champions/new")  Add New
            li
              a(href="/register") Register
            li
              a(href="/about") About

    block content
