body {

}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Navigation style */

.navbar-inverse {
  background-image: linear-gradient(to bottom, #D9260F 0, #B81208 100%);
  border-color: #666666;
}

.navbar-inverse .navbar-brand {
  color: yellow !important;
}

.navbar-inverse .navbar-brand:hover {
  color: orange;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
#navbar ul li a{
  color:white;
}
.navbar-inverse{
  margin-bottom:0 !important;
  border-color:#B31111 !important;
}

.cover{

  width:100%;
  min-height:750px;
  background-image:url('/images/LOL.jpg');
  background-size: cover;
}
.panel.panel-default{
  margin-top:20px;
}
.panel.panel-default .panel-body{
  height:400px;
  overflow:hidden;
}
.panel.panel-default img{
  width:100%;
  height:90%;
}

#addform{
  margin-top:30px;
}
.updatepanel{
  display:none;
}
.updatebox{
  display:none;
  position:fixed;
  left:25%;
  top:200px;
  z-index:999;
  width:50%;
}